<html>

<head>
    <script src="https://unpkg.com/petite-vue"></script>

    <!-- <link rel="stylesheet" href="https://pyscript.net/alpha/pyscript.css" /> -->
    <!-- <script defer src="https://pyscript.net/alpha/pyscript.js"></script> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>

    <script src="https://www.gstatic.com/firebasejs/3.3.0/firebase.js"></script>

    <meta charset="utf-8" />
    <title>Programmeraren</title>

</head>

<body>
    <script src="firebase.js"></script>
    <script src="script.js"></script>


    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <span class="navbar-brand mb-0 h1" style="margin-left: 1rem;">
            <span class="badge badge-warning">WIP</span>
            Programmera'n
        </span>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="#laromedel">Läromedel <span
                        class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="#">Uppgifter</a>
                <a class="nav-item nav-link" href="#">Något annat</a>
                <a class="nav-item nav-link disabled" href="#">Konto</a>
            </div>
        </div>
    </nav>

    <pre id='data'></pre>

    <div class="container-fluid">
        <div class="row no-gutters">
            <div class="col-2">
                <div class="list-group list-group-flush">
                    <div v-for="(content, title, index) in chapters">
                        <!-- DISPLAYING ALL LVL 1 HEADERS -->
                        <a href="#"
                            class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                            {{ title }}
                        </a>
                        <div v-for="(content1, title1, index1) in content">
                            <!-- DISPLAYING ALL LVL 2 HEADERS -->
                            <a href="#" style="padding-left: 1.5rem;"
                                class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                                {{ title1 }}
                            </a>
                            <div v-for="(content2, title2, index2) in content1">
                                <!-- DISPLAYING ALL LVL 2 HEADERS -->
                                <a href="#" style="padding-left: 3rem;"
                                    class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                                    {{ title2 }}
                                </a>
                            </div>
                        </div>
                    </div>

                    <!-- <a href="#allmant" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                            {{ title }}
                        </a> -->

                    <!-- <a href="#allmant" class="list-group-item list-group-item-action active d-flex justify-content-between align-items-center">
                            1. Allmänt
                            <span class="badge bg-dark rounded-pill">14</span>
                        </a>
                        <a href="#allmant" style="padding-left: 1.5rem;" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                            1.1. Variabler
                        </a>
                        <a href="#!" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">Hemsida</a>
                        <a href="#python" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">Python</a>
                        <a href="#cs" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">C#</a>
                        <a href="#cpp" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">C++</a>
                        <a href="#!" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">Java</a> -->

                </div>
            </div>
            <div class="col-10">
                <div class="container">
                    <div v-for="(content, title) in chapters">
                        <div class="row">
                            <h1>{{ title }}</h1>
                        </div>
                        <div v-for="(content1, title1) in content">
                            <div class="row">
                                <h2>{{ title1 }}</h2>
                            </div>
                            <div v-for="(content2, title2) in content1">
                                <div class="row">
                                    <h3>{{ title2 }}</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="row">
                            <h1 id="allmant">Allmänt</h1>
                        </div>
                        <div class="row">
                            <h1 id="cs">C#</h1>
                        </div>
                        <div class="row">
                            <h1 id="cpp">C++</h1>
                        </div> -->
                </div>
            </div>
        </div>
    </div>

    <script type="module">
        PetiteVue.createApp({
            name: 'Test',
            chapters: {
                '1. Allmänt': {
                    '1.1. Variables': {
                        '1.1.1. int': {},
                        '1.1.2. float': {}
                    },
                    '1.2. Datatyper': {},
                    '1.3. If-satser': {},
                    '1.4. Loopar': {
                        '1.4.1. While-loopar': {},
                        '1.4.2. For-loopar': {}
                    }
                },
                '2. Hemsida': {}
            },
            'iteration_index': 0
        }).mount()
    </script>

    <!-- <div v-scope="{A: [1,2,2]}">
            <h2>A</h2>
            <div v-for="item in A">
                <div v-scope="{title: 'my_title'}">
                    <p>{{ title }}</p>
                    <span>{{item}}</span>
                </div>
            </div>
        </div> -->
</body>

<style>

</style>

</html>